*{
    box-sizing: border-box;
}

.container{
    display: flex;
    background: blue;
    /* flex-wrap: wrap; */
}

.item{
    background: orange;
    border: 1px solid black;
    /* width: 200px; */
    /* margin: 10px;
    padding: 10px; */
    text-align: center;
    border-radius:10px;
    flex: 1;
}

.item2{
    flex-basis: 500px;
    
}

.item3{
    flex-shrink: 3;
}

.item5{
    flex-grow: 2;
}
