*{
    box-sizing: border-box;
}

.container{
    display: flex;
    background: blue;
    height: 100vh;
    /* flex-direction: row; */
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
    /* justify-content: center; */
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    justify-content: space-between;
}



.item{
    background: orange;
    border: 1px solid black;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius:10px;
}

