.container{
    display: grid;
    grid-template-rows: repeat(2,100px);
    grid-template-columns: repeat(4,auto); /*repeatทำซำ้*/
}


.item{
    text-align: center ;
    padding: 3rem;
    border-top: 1px solid rgb(253, 253, 253);
    background-color: orange;
    font-size: 1.3rem;
    font-weight: bold; 
}

.item:first-child{
    background: rgb(32, 209, 32);
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1/4;
}

.item:last-child{
    background: blue;
    color: white;
    /* grid-column-start:1;
    grid-column-end: 4; */
    grid-row: 4;
    grid-column: 2/4;
}
