/* แบบที่1 ฟลุ๊คทำได้เอง โดยimportไฟล์cssเข้าไปที่ไฟล์html แล้วใช้ CSS rules to specify families อย่างเดียว */

#title {
    color: red;
}

h1{
    color: blue;
    font-family: 'Charm', cursive;
}

*{
    /*background-color: rgb(238, 219, 252);*/
    font-size: 20px;
    font-weight: bold;
}

div.text {
    color: rgb(196, 77, 198);
}

.name{
    color: rgb(255, 153, 0);
}

/* แบบที่2 โดยimportไฟล์cssเข้าไปที่ไฟล์html และ import fontเข้าCSS แล้วใช้ CSS rules to specify families */

@import url('https://fonts.googleapis.com/css2?family=Charm&family=Koulen&display=swap');

.message{
    color: green;
    font-family: 'Charm', cursive;
    font-family: 'Koulen', cursive;
}
